<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button slot="start" defaultHref="/home/inicio"></ion-back-button>
    <ion-title>Califica nuestro servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center ion-padding-top">
  <ion-card>
    <ion-text color="danger">
      <h6>!Calificanos!</h6>
    </ion-text>
    <p>
        Permitenos saber como ha sido tu <ion-text color="primary">experiencia</ion-text> la usar nuestra aplicación.
    </p>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
              <div *ngFor="let question of questionData?.question">
                <ion-card-header color="tertiary">
                  <ion-card-title>{{question.nombre}}</ion-card-title>
                </ion-card-header>
                <ion-radio-group [(ngModel)]="question.level_id">
                  <ion-item *ngFor="let qualification of qualificationData">
                    <ion-label>{{qualification.nombre}}</ion-label>
                    <ion-radio slot="end" color="danger" [value]="qualification.id"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
            <div class="centrado ion-padding-top">
              <ion-button (click)="qualificationUP()" shape="round">{{questionData?.method === 'create' ? 'Registrar calificación' : 'Actialuzar calificación'}}</ion-button>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

