<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button slot="start" defaultHref="/home/inicio"></ion-back-button>
    <ion-title>Califica nuestro servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center ion-padding-top">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header color="tertiary">
              <ion-card-title>¿Cómo calificarías tu experiencia al usar esta aplicación?</ion-card-title>
            </ion-card-header>
            <ion-radio-group value="grape">
              <ion-item>
                <ion-label>Totalmente insatifactoria</ion-label>
                <ion-radio slot="end" color="danger" value="a"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Insatisfactoria</ion-label>
                <ion-radio slot="end" color="danger" value="b"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Neutra</ion-label>
                <ion-radio slot="end" color="warning" value="c"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Satisfactoria</ion-label>
                <ion-radio slot="end" color="success" value="g"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Totalmente satisfactoria</ion-label>
                <ion-radio slot="end" color="success" value="e"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <ion-card-header color="tertiary">
              <ion-card-title>¿Cómo consideras que ha sido la ayuda que presta la aplicación?</ion-card-title>
            </ion-card-header>
            <ion-radio-group value="grape">
              <ion-item>
                <ion-label>Totalmente insatifactoria</ion-label>
                <ion-radio slot="end" color="danger" value="a"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Insatisfactoria</ion-label>
                <ion-radio slot="end" color="danger" value="b"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Neutra</ion-label>
                <ion-radio slot="end" color="warning" value="c"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Satisfactoria</ion-label>
                <ion-radio slot="end" color="success" value="g"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Totalmente satisfactoria</ion-label>
                <ion-radio slot="end" color="success" value="e"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="centrado ion-padding-top">
              <ion-button shape="round">Registrar calificación</ion-button>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

