#contenedor {
    text-align: center;
    left: 0px;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
}

.center{
    text-align: center;
}

img {
    max-height: 50%;
    max-width: 80%;
    margin: 20px 0 40px;
    pointer-events: none;
}