<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Niveles de glucosa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Últimos niveles de glicemia</ion-label>
      <ion-img src="assets/images/graficas.svg" alt=""></ion-img>
    </ion-item>
    <ion-list>
      <ion-label position="stacked">Opciones</ion-label>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-button shape="round" (click)="navigateToRegistroGlucosa()" expand="full" color="success">Tus niveles de glucosa</ion-button>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-button shape="round" (click)="navigateToGlucosaHistory()" expand="full" color="success">Nivel de glucosa de hoy</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
