<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides pager="true">

      <ion-slide>
        <div class="slide">
          <app-logo></app-logo>
          <h2>Bienvenido a KA-THANI</h2>
          <p>Te damos la bienvenida a un nuevo estilo de vida, donde mantener tu salud será nuestro compromiso.</p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/quees.svg" />
        <h2>¿Qué es KA-THANI?</h2>
        <p><b>KA-THANI</b> es un aplicación que busca ayudar a los pcientes diabéticos permitiendoles minimiazar los impactos de la diabetes en sus vidas.</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/help.svg" />
        <h2>¿Como te ayuda KA-THANI?</h2>
        <p>Podrás monitorear todas las caracterísitas que pueden producir un impacto en los niveles de glucosa de tu sangre.</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/listo.svg" />
        <h2>¿Estás listo?</h2>
        <app-start-button></app-start-button>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>