<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides pager="true">

      <ion-slide>
        <div class="slide">
          <app-logo></app-logo>
          <h2>Bienvenido a Xiaoyi</h2>
          <p>Te damos la bienvenida a un nuevo estilo de vida, donde mantener tu salud es nuestro compromiso.</p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/quees.svg" />
        <h2>¿Qué es Xiaoyi?</h2>
        <p><b>Xiaoyi</b> es un aplicación que busca contribuir con los pcientes diabéticos permitiendoles un mejor control sobre los impactos de la diabetes en sus vidas.</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/help.svg" />
        <h2>¿Como te ayuda Xiaoyi?</h2>
        <p>Esta aplicación te permitirá monitorear todas las caracterísitas que pueden producir un impacto en los niveles de glucosa de tu sangre y mitigar sus efectos en tu salud.</p>
      </ion-slide>

      <ion-slide>
        <img src="assets/images/listo.svg" />
        <h2>¿Estás listo?</h2>
        <app-start-button></app-start-button>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ion-app>