<div *ngIf="cardDataW?.length > 0; else other_content">
  <ion-card *ngFor="let valueweight of cardDataW">
    <ion-card-content>
      <ion-label color="medium" position="stacked">Peso: </ion-label>
       <div class="center">
        <ion-badge [color]="color(valueweight.peso/(datosMember.diabetic_patient.altura*datosMember.diabetic_patient.altura))">
          <h1>{{valueweight.peso + " " +'kg'}}</h1>
        </ion-badge>
      </div>
      <div class="center">
        {{idealw(valueweight.peso/(datosMember.diabetic_patient.altura*datosMember.diabetic_patient.altura))}}
      </div>
      <ion-item>
        <ion-label color="medium">Composición corporal: </ion-label>
        {{bodyCondition(valueweight.peso/(datosMember.diabetic_patient.altura*datosMember.diabetic_patient.altura))}}
      </ion-item>
      <ion-item>
        <ion-label color="medium">Hora: </ion-label>
        {{valueweight.hora | date:' HH:mm'}}
      </ion-item>
      <ion-item>
        <ion-label color="medium">Fecha: </ion-label>
        {{valueweight.fecha | date:'dd-MM-yyyy'}}
      </ion-item>
    </ion-card-content>
    </ion-card>
</div>
<ng-template #other_content>
  <h1 class="center">
    <img src="../../../assets/images/No_data.svg" />
    <br>Sin registros</h1>
</ng-template>

  