<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button slot="start" defaultHref="/home/treatment-control"></ion-back-button>
    <ion-title>No farmacológicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cardDataTreatment?.length > 0; else other_content">
    <ion-card *ngFor="let treatment of cardDataTreatment">
      <ion-card-header color="success">
        <ion-card-title>{{treatment.actividad}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <ion-item>
        <ion-label color="medium">Periodo: </ion-label>
        {{treatment.duracion}}
      </ion-item>
      <ion-item>
        <ion-label color="medium">Hora recomendada: </ion-label>
        {{treatment.hora}}
      </ion-item>
    </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header color="success">
        <ion-card-title>Dieta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{datosMember.diabetic_patient.dieta}}
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #other_content>
    <h1 class="center">
      <img src="../../../assets/images/No_data.svg" />
      <br>Sin registros</h1>
  </ng-template>
</ion-content>
