<ion-tabs>
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="start">
      <ion-icon name="Home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="glucose-control">
      <ion-icon name="water"></ion-icon>
      <ion-label>Glucosa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="weith-control">
      <ion-icon name="scale"></ion-icon>
      <ion-label>Peso</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="treatment-control">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Tratamientos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"> </ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>