<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button slot="start" defaultHref="/home/treatment-control"></ion-back-button>
    <ion-title>Tratamientos Faracológicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cardDataTreatment?.length > 0; else other_content">
    <ion-card *ngFor="let treatment of cardDataTreatment">
      <ion-card-header  color="success">
        <ion-card-title>Medicamento: {{treatment.medicine.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label color="medium">Presentación: </ion-label>
          {{treatment.presentation.name}}
        </ion-item>
        <ion-item>
          <ion-label color="medium">Dosis: </ion-label>
          {{treatment.dosis}}{{treatment.measure.name}}
        </ion-item>
        <ion-item>
          <ion-label color="medium">Hora de administración: </ion-label>
          {{treatment.hora}}
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #other_content>
    <h1 class="center">
      <img src="../../../assets/images/No_data.svg" />
      <br>Sin registros</h1>
  </ng-template>
</ion-content>
