<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button slot="start" defaultHref="/home/treatment-control"></ion-back-button>
    <ion-title>No farmacológicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <img class="full-image" src="../../../assets/images/descanso.jpg" />
            <ion-card-header>
              <ion-card-title>Horas de descanso</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Recuerda que debes descansar un mínimo de ocho horas al día.
            </ion-card-content>

            <ion-card-subtitle class="ion-text-center">¿Descansaste suficiente hoy?</ion-card-subtitle>
            <ion-radio-group value="grape">
              <ion-item>
                <ion-label>Sí</ion-label>
                <ion-radio slot="end" color="success" value="apple"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="end" color="danger" value="cherry"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="center ion-padding-top">
              <ion-button shape="round">Registrar</ion-button>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <img class="full-image" src="../../../assets/images/deporte.jpg" />
            <ion-card-header>
              <ion-card-title>Rutina deportiva</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Realizar algún tipo de deporte ayuda a mejorar tu salud, por eso es importante mantener una rutina
              deportiva.
            </ion-card-content>
            <ion-card-subtitle class="ion-text-center">¿Realizaste tu rutina deportiva hoy?</ion-card-subtitle>
            <ion-radio-group value="grape">
              <ion-item>
                <ion-label>Sí</ion-label>
                <ion-radio slot="end" color="success" value="apple"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="end" color="danger" value="cherry"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="center ion-padding-top">
              <ion-button shape="round">Registrar</ion-button>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <img class="full-image" src="../../../assets/images/agua.jpg" />
            <ion-card-header>
              <ion-card-title>Consumo de agua.</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Mantener tu cuerpo hidratado es importante, por eso debes consumir mínimo ocho vasos de agua al día.
            </ion-card-content>
            <ion-card-subtitle class="ion-text-center">¿Consumiste suficiente agua hoy?</ion-card-subtitle>
            <ion-radio-group value="grape">
              <ion-item>
                <ion-label>Sí</ion-label>
                <ion-radio slot="end" color="success" value="apple"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="end" color="danger" value="cherry"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="center ion-padding-top">
              <ion-button shape="round">Registrar</ion-button>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <img class="full-image" src="../../../assets/images/dieta.jpg" />
            <ion-card-header>
              <ion-card-title>Alimentación.</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Mantener una dieta saludable es de suma importancia para tu salud.
            </ion-card-content>
            <ion-card-subtitle class="ion-text-center">¿Seguiste tu dieta hoy?</ion-card-subtitle>
            <ion-radio-group value="grape">
              <ion-item>
                <ion-label>Sí</ion-label>
                <ion-radio slot="end" color="success" value="apple"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-radio slot="end" color="danger" value="cherry"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="center ion-padding-top">
              <ion-button shape="round">Registrar</ion-button>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
