<ion-header>
  <ion-toolbar color="secondary">
    <ion-back-button slot="start" defaultHref="/home/treatment-control"></ion-back-button>
    <ion-title>No farmacológicos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cardDataTreatment?.length > 0; else other_content">
    <ion-card *ngFor="let treatment of cardDataTreatment">
      <ion-card-header color="success">
        <ion-card-title>{{treatment.actividad}}</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label color="medium">Duración: </ion-label>
        {{treatment.duracion}}
      </ion-item>
      <ion-item>
        <ion-label color="medium">Hora recomendada:</ion-label>
        {{treatment.hora}}
      </ion-item>
      <div class="center ion-padding-top">
        <ion-button (click)="postTreatmentId(treatment)" shape="round">
          <ion-label>Registrar</ion-label>
          <br>
          <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
        </ion-button>
      </div>
    </ion-card>
  </div>
  <ng-template #other_content>
    <h1 class="center">
      <img src="../../../assets/images/No_data.svg" />
      <br>Sin registros</h1>
  </ng-template>
</ion-content>

