<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card>
      <ion-card-header [color]="colorG(data.glucosaActual)">
        <ion-card-title>Glucosa actual</ion-card-title>
      </ion-card-header>
      <ion-grid fixed>
        <ion-row>
          <ion-col class="center" size="4">
            <ion-badge [color]="colorG(data.glucosaActual)">
              <h1>{{data.glucosaActual}}<br>mg/dL</h1>
            </ion-badge>
          </ion-col>
          <ion-col size="8">
          <ion-item>
            <ion-label color="medium" position="stacked">Nivel riesgo:</ion-label>
            {{riesgoG(data.glucosaActual)}}
          </ion-item>
          <ion-item>
            <ion-label color="medium" position="stacked">Consejo:</ion-label>
            {{consejo(data.glucosaActual)}}
          </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-card-header color="secondary">
        <ion-card-title>Peso actual</ion-card-title>
      </ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-list>
        <ion-item>
          <h1>
          {{data.pesoActual}} kg
        </h1>
        </ion-item>
        <ion-item>
          <ion-label color="medium">IMC actual: </ion-label>
          <ion-badge [color]="colorW(data.pesoActual/(data.altura*data.altura))" slot="end">{{data.pesoActual/(data.altura*data.altura)}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label color="medium">Grado de riesgo: </ion-label>
          <ion-badge [color]="colorW(data.pesoActual/(data.altura*data.altura))" slot="end">{{riesgoW(data.pesoActual/(data.altura*data.altura))}}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label color="medium">Condición coporal: </ion-label>
          <ion-badge [color]="colorW(data.pesoActual/(data.altura*data.altura))" slot="end">{{bodyCondition(data.pesoActual/(data.altura*data.altura))}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <!--<ion-list>
    <ion-item>
      <ion-label class="semi-circulo" position="stacked">Últimos niveles de glicemia</ion-label>
      <ion-img src="assets/images/graficas.svg" alt=""></ion-img>
    </ion-item>
    <ion-card>
      <ion-card-header color="secondary">
        <ion-card-title>Peso</ion-card-title>
      </ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-list>
        <ion-item>
          <ion-label>Actual</ion-label>
          <ion-badge slot="end">90 kg</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Ideal</ion-label>
          <ion-badge color="success" slot="end">75 kg</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-card-header color="secondary">
        <ion-card-title>Indice de masa corporal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Anterior</ion-label>
            <ion-badge slot="end">30.0</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Actual</ion-label>
            <ion-badge color="success" slot="end">26.8</ion-badge>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-item>
    </ion-item>
  </ion-list>-->
</ion-content>