<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Últimos niveles de glicemia</ion-label>
      <ion-img src="assets/images/graficas.svg" alt=""></ion-img>
    </ion-item>
    <ion-card>
      <ion-card-header color="secondary">
        <ion-card-title>Peso</ion-card-title>
      </ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-list>
        <ion-item>
          <ion-label>Actual</ion-label>
          <ion-badge slot="end">90 kg</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Ideal</ion-label>
          <ion-badge color="success" slot="end">75 kg</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card>
      <ion-card-header color="secondary">
        <ion-card-title>Indice de masa corporal</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Anterior</ion-label>
            <ion-badge slot="end">30.0</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Actual</ion-label>
            <ion-badge color="success" slot="end">26.8</ion-badge>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-item>
    </ion-item>
  </ion-list>
</ion-content>